*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
body,
html {
	height: 100%;
}
.map {
	width: 100%;
	height: 100%;
}

.map-application {
	height: 100%;

	padding-top: 50px;

}
header {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	padding: 15px;
	z-index: 9;
	border-bottom: 1px solid #eee;
	width:100%;
}
header .appName {
	float: left;
}

md-toast.md-coffe-toast-theme {
    background-color: rgb(111,199,135);
}

.leaflet-control-layers.leaflet-control {
	display: none;
}