<md-dialog aria-label="Mango (Fruit)" class="md-transition-in md-content-overflow" role="dialog" tabindex="-1"
           aria-describedby="dialog_566" xmlns="http://www.w3.org/1999/html">
    <form class="ng-pristine ng-valid">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="flex"></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;" id="dialog_566">
            <div class="md-dialog-content">
                <h2>Devenir prestataire sur InSTRiiT</h2>
                <br>

                <p>Bonjour, {{::current.name}} !</p><br>

                <p>Pour être référencé sur InSTRiiT,<br/>rien de plus simple !</p><br>

                <p>Fourni juste tes références, et c'est parti !</p><br>

                <form ng-submit="newServiceForm()" class="simple-form">
                    <md-input-container>
                        <label>Service:</label>

                        <input type="text" ng-model="new.service"/>
                    </md-input-container>
                    <md-input-container>
                        <label>
                            Téléphone:
                        </label>
                        <input type="phone" ng-model="new.phone">
                    </md-input-container>
                    <md-button type="submit" ng-click="newServiceForm()" style="color : rgb(33,150,243); background-color: rgba(158, 158, 158, 0.2);
                                                       font-size: 16px;
                                                        float: right; margin : 20px"> Go !
                    </md-button>

                </form>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>


