<md-dialog aria-label="Mango (Fruit)" class="md-transition-in md-content-overflow" role="dialog" tabindex="-1" aria-describedby="dialog_566">
<form class="ng-pristine ng-valid">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <img style="margin: auto; max-width: 50px;" alt="photo-profile" src="https://d30y9cdsu7xlg0.cloudfront.net/png/144063-200.png">
                {{::current.name}}
                <img style="margin: auto; max-width: 20px;" alt="photo-profile" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Status-user-online-icon.png">
                <img style="margin: auto; max-width: 20px;" alt="photo-profile" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Status-user-busy-icon.png">
            </h3>
            <span class="flex"></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="material-icons"  aria-label="Close dialog">close</md-icon>
                </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; "id="dialog_566">
    <div class="md-dialog-content">
        <h2>Devenir prestataire sur InSTRiiT</h2>
        <p>Bonjour, {{::current.name}} !</p><br>
        <p>Pour être référencé sur InSTRiiT, rien de plus simple !</p><br>
        <p>Fourni juste tes références, et c'est parti !</p><br>
        <form ng-submit="newServiceForm()" class="simple-form">
        Service: <input type="text" ng-model="new.service" /><br />
        Téléphone: <input type="number" ng-model="new.phone"><br />
        <md-button type="submit" ng-click="newServiceForm()" style= "color : rgb(33,150,243); background-color: rgba(158, 158, 158, 0.2);
                                                        border-radius: 10px 0 0 10px; font-size: 16px;
                                                        float: right; margin : 20px"> Go ! </md-button>
        </form>
        
    </md-dialog-content>
</form>
</md-dialog>

