<md-dialog aria-label="Mango (Fruit)" class="md-transition-in md-content-overflow" role="dialog" tabindex="-1"
           aria-describedby="dialog_566" xmlns="http://www.w3.org/1999/html">
    <form class="ng-pristine ng-valid">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <img style="margin: auto; max-width: 50px;" alt="photo-profile"
                         src="https://d30y9cdsu7xlg0.cloudfront.net/png/144063-200.png">
                    {{::current.name}}
                    <img style="margin: auto; max-width: 20px;" alt="photo-profile" ng-if="current.status == 'online'"
                         src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Status-user-online-icon.png">
                    <img style="margin: auto; max-width: 20px;" alt="photo-profile" ng-if="current.status == 'offline'"
                         src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Status-user-busy-icon.png">
                </h3>
                <span class="flex"></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; " id="dialog_566">
            <div class="md-dialog-content">
                <h3>{{::current.name}} vous propose :</h3>
                <md-list>
                    <md-list-item>Type : {{current.offre.type}}</md-list-item>
                    <md-list-item>Surface: {{current.offre.surface}} m²</md-list-item>
                </md-list>
                <div style="overflow:hidden;width:700px">
                    <h3>A proximité :</h3>
                    <br/>

                    <div style="float:left;width:50px; ">
                        <img style="max-width: 50px; height: 50px;" alt="photo-profile"
                             src="https://d30y9cdsu7xlg0.cloudfront.net/png/189284-200.png">
                        <img style="max-width: 50px; height: 50px;" alt="photo-profile"
                             src="https://d30y9cdsu7xlg0.cloudfront.net/png/97392-200.png">
                        <img style="max-width: 50px; height: 50px;" alt="photo-profile"
                             src="https://d30y9cdsu7xlg0.cloudfront.net/png/18561-200.png">
                        <img style="max-width: 50px; height: 50px;" alt="photo-profile"
                             src="https://d30y9cdsu7xlg0.cloudfront.net/png/34823-200.png">
                    </div>
                    <div style="float:left;width:200px;margin-right:100px">
                        <md-progress-linear md-mode="determinate" value="{{80}}"
                                            style="margin: 30px; margin-top: 25px;"></md-progress-linear>
                        <md-progress-linear md-mode="determinate" value="{{30}}"
                                            style="margin: 30px; margin-top: 45px;"></md-progress-linear>
                        <md-progress-linear md-mode="determinate" value="{{60}}"
                                            style="margin: 30px; margin-top: 50px;"></md-progress-linear>
                        <md-progress-linear md-mode="determinate" value="{{90}}"
                                            style="margin: 30px; margin-top: 50px;"></md-progress-linear>
                    </div>
                    <div style="float:left;width:50px;">
                        <img style=" max-width: 50px; height: 50px;" alt="photo-profile"
                             src="https://d30y9cdsu7xlg0.cloudfront.net/png/43720-200.png">
                        <img style=" max-width: 50px; height: 50px;" alt="photo-profile"
                             src="https://d30y9cdsu7xlg0.cloudfront.net/png/78717-200.png">
                        <img style="max-width: 50px; height: 50px;" alt="photo-profile"
                             src="https://d30y9cdsu7xlg0.cloudfront.net/png/3951-200.png">
                        <img style=" max-width: 50px; height: 50px;" alt="photo-profile"
                             src="https://d30y9cdsu7xlg0.cloudfront.net/png/78475-200.png">
                    </div>
                    <div style="float:left;width:200px;">
                        <md-progress-linear md-mode="determinate" value="{{50}}"
                                            style="margin: 30px; margin-top: 25px;"></md-progress-linear>
                        <md-progress-linear md-mode="determinate" value="{{10}}"
                                            style="margin: 30px; margin-top: 45px;"></md-progress-linear>
                        <md-progress-linear md-mode="determinate" value="{{100}}"
                                            style="margin: 30px; margin-top: 50px;"></md-progress-linear>
                        <md-progress-linear md-mode="determinate" value="{{55}}"
                                            style="margin: 30px; margin-top: 50px;"></md-progress-linear>
                    </div>
                </div>
            </div>
            <md-button ng-click="showSimpleToast()" style="color : rgb(33,150,243); background-color: rgba(158, 158, 158, 0.2);
                                                        font-size: 16px;
                                                        float: right; margin : 20px"> Chat
            </md-button>
        </md-dialog-content>
    </form>
</md-dialog>

